.tweet
  .useravatar <img src="#{@status.user.profile_image_url}">
  #span.username <a href="http://twitter.com/#{@status.user.screen_name}">#{@status.user.screen_name}</a>
  #span.name= @status.user.name
  %h1= @status.text
  .time= @status.created_at
- if @video.provider=="Vimeo"
  .vimeo <iframe type="text/html" src="http://player.vimeo.com/video/#{@id}?autoplay=1" width="400" height="225" frameborder="0"></iframe>
-else 
  .youtube <iframe  type="text/html" width="640" height="385" src="http://www.youtube.com/embed/#{@id}?autoplay=1" frameborder="0"></iframe>
.info= @video.title
.duration= @video.duration
.date= @video.date
%h6.foot= @video.inspect
%h6.foot= @status.inspect
