.tweet
  .author
    %span.avatar <img src="#{@status.user.profile_image_url}">
    %span.desc
      .one
        %span.username <a href="http://twitter.com/#{@status.user.screen_name}">#{@status.user.screen_name}</a>
        %span.name= @status.user.name
      .two
        %span.ago= time_ago_in_words(@status.created_at, true)
        %span.ago ago
        %span.ago via Twitter
  %h2.text= @status.text
  .video
  - if @video.provider=="Vimeo"
    .vimeo <iframe type="text/html" src="http://player.vimeo.com/video/#{@id}?autoplay=1" width="400" height="225" frameborder="0"></iframe>
  -else 
    .youtube <iframe  type="text/html" width="640" height="385" src="http://www.youtube.com/embed/#{@id}?autoplay=1" frameborder="0"></iframe>
  .video
    .info= @video.title
    %span.duration= @video.duration
    %span.date= @video.date
.footer
  %h6= @video.inspect+@status.inspect
